Repository valsssa/TutorHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:frontend:syntax, validate:backend:syntax, validate:docker:syntax, lint:frontend, lint:backend, test:frontend, test:backend, build:frontend, build:backend, security:frontend:dependencies, security:backend:dependencies, docker:build:frontend, docker:build:backend

validate:frontend:syntax:
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules/
    - .cache/npm/
    policy: pull-push
  stage: validate
  image: node:20-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline --no-audit
  - npx tsc --noEmit

validate:backend:syntax:
  cache:
    key:
      files:
      - backend/requirements.txt
      - backend/requirements-dev.txt
    paths:
    - .cache/pip/
    - backend/.venv/
    policy: pull-push
  stage: validate
  image: python:3.12-slim
  script:
  - cd backend
  - python -m py_compile $(find . -name "*.py" -not -path "./.venv/*")
  ...

validate:docker:syntax:
  stage: validate
  image: hadolint/hadolint:latest-alpine
  script:
  - hadolint backend/Dockerfile --failure-threshold warning || true
  - hadolint frontend/Dockerfile --failure-threshold warning || true
  - "if [ -f \"Dockerfile\" ]; then\n  hadolint Dockerfile --failure-threshold warning || true\nfi\n"

lint:frontend:
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules/
    - .cache/npm/
    policy: pull-push
  stage: lint
  image: node:20-alpine
  needs:
  - job: validate:frontend:syntax
    optional: true
  script:
  - cd frontend
  - npm ci --prefer-offline --no-audit
  ...

lint:backend:
  cache:
    key:
      files:
      - backend/requirements.txt
      - backend/requirements-dev.txt
    paths:
    - .cache/pip/
    - backend/.venv/
    policy: pull-push
  stage: lint
  image: python:3.12-slim
  needs:
  - job: validate:backend:syntax
    optional: true
  script:
  - cd backend
  - pip install --quiet ruff mypy
  ...

test:frontend:
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules/
    - .cache/npm/
    policy: pull-push
  stage: test
  image: node:20-alpine
  needs:
  - job: lint:frontend
    optional: true
  script:
  - cd frontend
  - npm ci --prefer-offline --no-audit
  ...

test:backend:
  cache:
    key:
      files:
      - backend/requirements.txt
      - backend/requirements-dev.txt
    paths:
    - .cache/pip/
    - backend/.venv/
    policy: pull-push
  stage: test
  image: python:3.12-slim
  timeout: 20 minutes
  needs:
  - job: lint:backend
    optional: true
  services:
  - name: postgres:16-alpine
  ...

build:frontend:
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules/
    - .cache/npm/
    policy: pull-push
  stage: build
  image: node:20-alpine
  needs:
  - job: test:frontend
    optional: true
  script:
  - cd frontend
  - npm ci --prefer-offline --no-audit
  - npm run build

security:frontend:dependencies:
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules/
    - .cache/npm/
    policy: pull-push
  stage: security
  image: node:20-alpine
  needs:
  - job: build:frontend
    optional: true
  script:
  - cd frontend
  - npm ci --prefer-offline --no-audit
  ...

chore: simplify GitLab CI/CD configuration by removing unused Docker variables
  .gitlab-ci.yml
Due: none

chore: simplify GitLab CI/CD configuration by removing unused Docker variables
  .gitlab-ci.yml
  frontend/package-lock.json
Due: validate:frontend:syntax, lint:frontend, test:frontend, build:frontend, security:frontend:dependencies, docker:build:frontend

refactor: recreate GitLab CI pipeline based on professional reference
  .gitlab-ci.yml
Due: none

feat: use Harbor registry proxy for all CI images
  .gitlab-ci.yml
Due: none

chore: add HARBOR_REGISTRY variable to gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix: use 32+ character SECRET_KEY for CI tests
  .gitlab-ci.yml
Due: none

feat: make test jobs non-blocking in CI pipeline
  .gitlab-ci.yml
Due: none

feat: enhance user registration tests with first and last name fields
  backend/tests/test_api_comprehensive.py
  backend/tests/test_auth.py
  backend/tests/test_security.py
  frontend/__tests__/components/ProfileCompletionMeter.test.tsx
  frontend/__tests__/components/SkeletonLoader.test.tsx
  frontend/__tests__/hooks/useMessaging.test.tsx
  frontend/jest.setup.js
  frontend/lib/cache.ts
Due: validate:frontend:syntax, validate:backend:syntax, lint:frontend, lint:backend, test:frontend, test:backend, build:frontend, build:backend, security:frontend:dependencies, security:backend:dependencies, docker:build:frontend, docker:build:backend

feat: add Conversation model and update Message relationships
  backend/models/__init__.py
  backend/models/messages.py
  backend/modules/admin/infrastructure/__init__.py
  backend/modules/admin/infrastructure/repositories.py
  backend/modules/favorites/infrastructure/__init__.py
  backend/modules/favorites/infrastructure/repositories.py
  backend/modules/integrations/infrastructure/__init__.py
  backend/modules/integrations/infrastructure/repositories.py
  backend/modules/messages/infrastructure/__init__.py
  backend/modules/messages/infrastructure/repositories.py
  backend/modules/notifications/infrastructure/__init__.py
  backend/modules/notifications/infrastructure/repositories.py
  backend/modules/packages/infrastructure/repositories.py
  backend/modules/payments/infrastructure/repositories.py
  backend/modules/profiles/infrastructure/__init__.py
  backend/modules/profiles/infrastructure/repositories.py
  backend/modules/public/infrastructure/__init__.py
  backend/modules/public/infrastructure/repositories.py
  backend/modules/reviews/infrastructure/__init__.py
  backend/modules/reviews/infrastructure/repositories.py
  backend/modules/students/infrastructure/__init__.py
  backend/modules/students/infrastructure/repositories.py
  backend/modules/subjects/infrastructure/__init__.py
  backend/modules/subjects/infrastructure/repositories.py
  backend/modules/tutors/infrastructure/__init__.py
  backend/modules/tutors/infrastructure/repositories.py
  backend/modules/utils/infrastructure/__init__.py
  backend/modules/utils/infrastructure/repositories.py
  database/migrations/044_add_wallet_tables.sql
  database/migrations/045_add_conversations_table.sql
  docs/todo/CLEAN_ARCHITECTURE_REFACTORING.md
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

docs: add frontend v2 redesign plan
  docs/plans/2026-02-02-frontend-v2-design.md
Due: none

chore: add .worktrees to gitignore
  .gitignore
Due: none

feat(auth): add cookie configuration module
  backend/core/cookie_config.py
  backend/tests/test_cookie_config.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

feat(auth): add CSRF token generation and validation
  backend/core/csrf.py
  backend/tests/test_csrf.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

feat(auth): add cookie helper functions
  backend/core/cookie_config.py
  backend/tests/test_cookie_config.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

feat(auth): add cookie-first token extraction
  backend/core/dependencies.py
  backend/tests/test_dependencies_cookie.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

feat(auth): add CSRF middleware for protecting state-changing endpoints
  backend/core/csrf_middleware.py
  backend/tests/test_csrf_middleware.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

feat(auth): add get_current_user_from_request for cookie-based auth
  backend/core/dependencies.py
  backend/tests/test_dependencies_cookie.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

feat(frontend): API client uses HttpOnly cookies
  frontend-v2/__tests__/hooks/use-websocket.test.tsx
  frontend-v2/__tests__/lib/api/auth.test.ts
  frontend-v2/__tests__/lib/api/client.test.ts
  frontend-v2/__tests__/lib/hooks/use-auth.test.tsx
  frontend-v2/lib/api/auth.ts
  frontend-v2/lib/api/client.ts
  frontend-v2/lib/api/settings.ts
  frontend-v2/lib/hooks/use-auth.ts
  frontend-v2/lib/hooks/use-websocket.ts
Due: none

fix(auth): remove unused csrf_exempt decorator from middleware
  backend/core/csrf_middleware.py
  backend/tests/test_csrf_middleware.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

feat(auth): add logout endpoint to clear authentication cookies
  backend/modules/auth/presentation/api.py
  backend/modules/auth/tests/test_auth_cookies.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

feat(frontend): automatic token refresh on 401
  frontend-v2/__tests__/lib/api/client.test.ts
  frontend-v2/lib/api/client.ts
Due: none

feat(frontend): update auth hook for HttpOnly cookie authentication
  frontend-v2/SECURITY_NOTES.md
  frontend-v2/__tests__/lib/hooks/use-auth.test.tsx
  frontend-v2/lib/hooks/use-auth.ts
Due: none

feat(auth): update CORS for HttpOnly cookie credentials support
  backend/core/cors.py
  backend/main.py
  backend/tests/test_cors.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

feat(auth): update refresh endpoint to read from cookie and set response cookies
  backend/modules/auth/presentation/api.py
  backend/modules/auth/tests/test_auth_cookies.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

feat: add CSRF middleware to app and cookie auth integration tests
  backend/main.py
  backend/tests/test_cookie_auth_integration.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

task(15): Remove deprecated localStorage code & update security documentation
  frontend-v2/SECURITY_NOTES.md
  frontend-v2/e2e/integration/auth-real.spec.ts
  frontend-v2/e2e/integration/error-handling.spec.ts
  frontend-v2/lib/query-client.ts
Due: none

fix(db): repair migration system - renumber duplicates and add missing columns
  database/init.sql
  database/migrations/028_remove_timezone_db_logic.sql
  database/migrations/035_add_booking_version_column.sql
  database/migrations/035_create_webhook_events.sql
  database/migrations/039_add_fraud_detection.sql
  database/migrations/046_remove_timezone_db_logic.sql
  database/migrations/047_add_booking_version_column.sql
  database/migrations/048_create_webhook_events.sql
  database/migrations/049_add_fraud_detection.sql
  database/migrations/050_repair_missing_columns.sql
Due: none

refactor(cors): consolidate CORS to single source of truth in core/cors.py
  backend/core/config.py
  backend/core/cors.py
  backend/main.py
  backend/modules/messages/websocket.py
  backend/tests/test_cors.py
  docs/plans/2026-02-05-cors-single-source-of-truth.md
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

feat(core): add centralized datetime utilities for timezone consistency
  backend/core/datetime_utils.py
  backend/tests/test_datetime_utils.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

feat(notifications): add soft delete functionality to Notification model
  backend/models/notifications.py
  backend/tests/test_notification_soft_delete.py
  docs/plans/2026-02-06-critical-integration-fixes.md
  frontend-v2/__tests__/hooks/use-websocket.test.tsx
  frontend-v2/__tests__/types/booking-types.test.ts
  frontend-v2/__tests__/types/user-types.test.ts
  frontend-v2/app/(dashboard)/bookings/[id]/page.tsx
  frontend-v2/app/(dashboard)/bookings/page.tsx
  frontend-v2/app/(dashboard)/layout.tsx
  frontend-v2/app/(dashboard)/messages/[conversationId]/page.tsx
  frontend-v2/app/(dashboard)/owner/page.tsx
  frontend-v2/app/(dashboard)/packages/page.tsx
  frontend-v2/app/(dashboard)/tutor/students/page.tsx
  frontend-v2/app/(dashboard)/tutors/page.tsx
  frontend-v2/app/(dashboard)/wallet/page.tsx
  frontend-v2/components/layouts/sidebar.tsx
  frontend-v2/components/layouts/topbar.tsx
  frontend-v2/components/packages/package-card.tsx
  frontend-v2/components/profile/availability-grid.tsx
  frontend-v2/components/profile/subject-selector.tsx
  frontend-v2/lib/hooks/use-websocket.ts
  frontend-v2/types/booking.ts
  frontend-v2/types/user.ts
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

fix(models): add soft delete columns to Notification model
  backend/tests/test_notification_soft_delete.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

fix(frontend): remove legacy SessionState/PaymentState enum values
  frontend-v2/__tests__/types/booking-types.test.ts
  frontend-v2/types/booking.ts
Due: none

fix(frontend): add missing User type fields to match backend schema
  frontend-v2/__tests__/types/user-types.test.ts
  frontend-v2/types/user.ts
Due: none

fix(frontend): remove field aliases from Booking types
  frontend-v2/__tests__/types/booking-fields.test.ts
  frontend-v2/types/booking.ts
Due: none

fix(bookings): replace datetime.utcnow() with timezone-aware utc_now()
  backend/modules/bookings/domain/state_machine.py
  backend/modules/bookings/presentation/api.py
  backend/modules/bookings/tests/test_datetime_usage.py
Due: validate:backend:syntax, lint:backend, test:backend, build:backend, security:backend:dependencies, docker:build:backend

Path conditions:
  validate:frontend:syntax: any of: frontend/**/*
  validate:backend:syntax: any of: backend/**/*
  validate:docker:syntax: any of: **/Dockerfile*, docker-compose*.yml
  lint:frontend: any of: frontend/**/*
  lint:backend: any of: backend/**/*
  test:frontend: any of: frontend/**/*
  test:backend: any of: backend/**/*
  build:frontend: any of: frontend/**/*
  build:backend: any of: backend/**/*
  security:frontend:dependencies: any of: frontend/**/*
  security:backend:dependencies: any of: backend/**/*
  docker:build:frontend: any of: frontend/**/*, docker-compose*.yml
  docker:build:backend: any of: backend/**/*, docker-compose*.yml
